.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-bottom: 4rem;

  &__hero {
    min-height: 70dvh;
    width: 100%;

    background: url("../assets/girlSkating.svg") no-repeat center,
      url("../assets/redPattern.png") repeat;
    padding: 2rem 0;
    background-size: contain, contain;
    background-origin: content-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
      align-self: self-start;
      margin-top: -0.5rem;
      margin-left: 1.5rem;
      width: 8rem;
    }

    &__main {
      margin-top: 7rem;
      margin-right: 40rem;

      &__japanese-logo {
        display: flex;
        align-items: end;

        &__ramen {
          color: $yellow-300;
          font-weight: 900;
          letter-spacing: 0.4rem;
          writing-mode: vertical-rl;
          text-orientation: upright;
          font-size: 3rem;
          margin: 0 0.5rem 0.7rem 0;
        }

        &__go {
          margin: 0;
          color: $white;
          font-weight: 900;
          font-size: 10rem;
          line-height: 8rem;
        }
      }

      &__description {
        margin-left: 0.8rem;
        color: $white;
        width: 20ch;
        line-height: 1.5rem;
      }

      &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0.8rem;

        width: 12.5rem;
        padding: 0 1rem;
        height: 3.5rem;

        background-color: $blue-300;
        border: none;
        border-radius: 4rem;

        color: $white;
        font-weight: 800;
        cursor: pointer;

        &:hover {
          filter: brightness(90%);
        }

        &__arrow {
          margin-bottom: -0.2rem;
        }
      }
    }
  }

  @media (max-width: 1050px) {
    &__hero {
      background: url("../assets/girlSkating.svg") no-repeat right,
        url("../assets/redPattern.png") repeat;

      background-size: 60%, contain;

      padding-left: 2rem;
      align-items: flex-start;

      &__logo {
        margin-left: 1rem;
      }
    }
  }

  @media (max-width: 800px) {
    &__hero {
      background: url("../assets/girlSkating.svg") no-repeat center 4rem,
        url("../assets/redPattern.png") repeat;

      background-size: 20rem, contain;

      padding-left: 0;
      align-items: flex-start;
      &__logo {
        align-self: center;
        margin-left: 0;
      }

      &__main {
        margin: 23rem auto 2rem;

        &__japanese-logo {
          // display: flex;
          flex-direction: column;
          align-items: center;

          &__ramen {
            letter-spacing: 0.4rem;
            writing-mode: horizontal-tb;
            text-orientation: unset;
            font-size: 4rem;
            margin: 0;
          }

          &__go {
            margin: 0;
            color: $white;
            font-weight: 900;
            font-size: 8rem;
            line-height: 7rem;
          }
        }
        &__description {
          width: 30ch;
          text-align: center;
        }

        &__button {
          display: none;
        }
      }
    }
  }

  @media (max-width: 500px) {
    &__order {
      &__broth {
        &__description {
          width: 30ch;
        }
      }

      &__protein {
        &__description {
          width: 30ch;
        }
      }
    }
  }

  &__order {
    padding-top: 7rem;
    margin-bottom: 4rem;

    &__broth {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      text-align: center;

      &__title {
        margin: 0 0.5rem;
      }
    }

    &__protein {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &__title {
        text-align: center;
        margin: 0 0.5rem;
      }
    }
  }

  &__place-order {
    margin-top: -1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 12.5rem;
    padding: 0 1rem;
    height: 3.5rem;

    background-color: $blue-300;
    border: none;
    border-radius: 4rem;

    color: $white;
    font-weight: 800;
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }

    &:disabled {
      background-color: $gray-300;
      pointer-events: none;
    }
  }
}
