.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70dvh;

  &__card {
    background-color: #fafaed;
    box-shadow: 0px 4px 12px 0px #e0dbbf99;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    padding: 2.5rem;

    &__img {
      margin-top: 0.5rem;

      width: 6.5rem;
      height: 6.5rem;
    }

    &__name {
      font-weight: 900;
      font-size: 1.25rem;
      color: #1820ef;

      margin: 0.875rem 0 0.625rem;
    }

    &__description {
      font-size: 0.875rem;
      max-width: 90%;
      text-align: center;
      margin: 0;
    }

    &__price {
      font-weight: 900;
      font-size: 1.25rem;
      margin: 0;
      margin-top: 0.875rem;

      color: #ff4e42;
    }

    &--active {
      background-color: #1820ef;
      color: #ffffff;

      .container__card__name {
        color: #ffffff;
      }

      .container__card__price {
        color: #ffc024;
      }
    }

    &:hover {
      filter: brightness(105%);
    }
  }
}
